.container-pos-venda{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 88%;
}

.pesquisa-pos-venda{
    display: flex;
    align-items: center;
    gap: 5px;

}

.campos-01-venda-pos-venda label{
    font-weight: 500;
}

.campos-01-venda-pos-venda {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.campos-02-pos-venda label{
    font-weight: 500;
}

.data-filiacao-03-pos {
    width: 10%;
    display: flex;
    flex-direction: column;
}

.data-filiacao-03-pos label{
    font-weight: 500;
}

.campos-04-pos {
    width: 8%;
    display: flex;
    flex-direction: column;
}

.campos-04-pos label {
    font-weight: 500;
}



.campos-02-pos-venda {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.pesquisa-pos-venda input{
    width: 40%;
    background-color: var(--cinza-leve);
    font-weight: 500;
    font-size: 12px;
}

.botao-pesquisa-pos-venda{
    width: 20%;
}

.tabela-pos-venda{
    width: 95%;
}

.retorno-button-cancelamento{
    width: 5%;
}

.retorno-cancelamento{
    width: 88%;
    gap: 5px;
    display: flex;
    flex-direction: column;
}