.abrir-contrato{
    display: flex;
    align-items: center;
    gap: 5px;
}

.formulario-cliente{
    display: flex;
    gap: 5px;
}

.campos-legenda-contrato-finalizados {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--branco);
}